#boards {
    background-color: green;
}


/*css for layout */
.header {
    width: auto;
}

.logotypHeader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgLoginButton{
    width: 100px;
    border: none;
    background: none;
}

.LoginButton{
    width: 100px;
    border: none;
    background: none;
}

