#boards {
    background-color: #d3fffd;
}

.page{
    max-width: 1440px;
    margin: 0 auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #656566;
}

/*css for layout */

.logotypHeaderImg {
    height: 90%;
    display: inline;

}

.loginButtonMain {
    width: 100px;
    height: auto;
    border: none;
    background: none;
    display: inline;
}


.imgLoginButton {
    width: 100px;
    height: auto;
    display: inline;
}

.textFooter {
    color: #ffffff;
    font-weight: bold;
    background: #98f4f4;
}

.hintMessagesWrong{
    color: #fc9191;
    font-weight: bold;
}

.serverRespondingText{
    color:  #98f4f4;
    font-size: 17px;
    font-weight: bold;
}

.hintMessagesCorrect{
    color: #4AD295;
    font-weight: bold;
}
.btn.btn-primary.btn-lg.btn-block{
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
h1{
    font-family: monospace;
}