#boards {
    background-color: green;
}

.page{
    max-width: 1440px;
    margin: 0 auto;
}

/*css for layout */

.logotypHeaderImg {
    height: 90%;
    display: inline;

}

.loginButton {
    width: 100px;
    height: auto;
    border: none;
    background: none;
    display: inline;
}


.imgLoginButton {
    width: 100px;
    height: auto;
    display: inline;
}

